.load{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .svgk{
        margin:auto;
    }

}
.mainC{
    width: 100%;
    // margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}