$primary-color: #333;
$secondary-color: #fff;
$font-family: sans-serif;

// Mixin for responsive media queries
@mixin respond($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

.navbar {
  background-color: $primary-color;
  color: $secondary-color;
  display: flex;
  justify-content:space-around;
  align-items: center;

  // Responsive behavior
  @include respond(768px) {
    flex-wrap: wrap;
  }
}

.navbar a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
}


// Optional: Logo styling
.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

