* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  color: #000000;
  text-decoration: none;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

li {
  list-style: none;
  width: 100%;
  cursor: pointer;
  transition-duration: 400ms;
}
li:hover {
  background-color: #333;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F7A9B9;
  position: sticky;
}
.navbar .title {
  padding: 1rem;
  font-size: 1.5rem;
  color: #000000;
}
.navbar .burger {
  position: absolute;
  width: 20px;
  height: 15px;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  inset: 1.5rem 1rem auto auto;
  cursor: pointer;
}
.navbar .burger:hover span:nth-child(2) {
  width: 100%;
}
.navbar .burger span {
  width: 100%;
  height: 0.25rem;
  background-color: #000000;
  border-radius: 0.5rem;
}
.navbar .burger span:nth-child(2) {
  width: 70%;
  align-self: flex-end;
  transition-duration: 400ms;
}
.navbar .links-parent {
  display: flex;
  align-items: center;
}
.navbar .links-parent > li {
  padding: 0 0;
  position: relative;
  z-index: 2;
}
.navbar .links-parent > li:has(.header input:checked) .links-child {
  max-height: 12rem;
}
.navbar .links-parent > li .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .links-parent > li .header input[type=checkbox] {
  appearance: none;
}
.navbar .links-parent > li .header input[type=checkbox]:checked + label::after {
  transform: translateY(-40%) rotate(45deg);
  background-color: indianred;
}
.navbar .links-parent > li .header label {
  color: white;
  height: 100%;
  width: 90%;
  margin: auto;
  cursor: pointer;
  padding: 1rem 2rem;
  position: relative;
  transition-duration: 400ms;
}
.navbar .links-parent > li .links-child {
  position: absolute;
  inset: 100% 0 auto auto;
  width: 100%;
  background-color: #F7A9B9;
  z-index: 1;
  transition: max-height 400ms;
  max-height: 0;
  overflow: hidden;
}
.navbar .links-parent > li .links-child > li {
  padding: 1rem 0;
  position: relative;
}
.navbar .links-parent > li .links-child > li a {
  font-size: 0.75rem;
}
.navbar .links-parent > li .links-child > li:not(:last-child):after {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #000000;
}

@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    position: relative;
    z-index: 4;
  }
  .navbar:has(.links-parent:hover) .burger span:nth-child(2), .navbar:has(.links-parent > li .links-child:hover) .burger span:nth-child(2) {
    width: 100%;
  }
  .navbar .title {
    align-self: flex-start;
    z-index: 3;
  }
  .navbar .burger {
    z-index: 3;
    display: flex;
  }
  .navbar .burger:hover + .links-parent {
    max-height: 100rem;
  }
  .navbar .links-parent {
    background-color: #F7A9B9;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    transition: all 400ms ease 400ms;
  }
  .navbar .links-parent:hover {
    max-height: 100rem;
  }
  .navbar .links-parent > li .header label::after {
    z-index: 1;
  }
  .navbar .links-parent > li .links-child {
    position: relative;
  }
  .navbar .links-parent > li .links-child > li {
    padding: 0.5rem;
    background-color: black;
  }
  .navbar .links-parent > li .links-child > li:hover {
    background-color: #333;
    color: white;
  }
  .navbar .links-parent > li .links-child > li a {
    text-align: left;
  }
}
#footer {
  width: 80%;
  background: #F7A9B9;
  margin: auto;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
}
#footer .xob {
  width: 40px;
  height: 40px;
}

.load {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load .svgk {
  margin: auto;
}

.mainC {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listC {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid grey;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.listC .Lbox {
  width: 70%;
  margin: auto;
  padding: 2%;
  margin-top: 4%;
  margin-bottom: 4%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listC .Lbox .clicked {
  border: 2px solid red;
}
.listC .Lbox .ImgBox {
  width: 60%;
  margin: auto;
}
.listC .Lbox .ImgBox img {
  width: 100%;
  margin: auto;
}

.detailC {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detailC h2 {
  color: rgb(117, 5, 24);
}
.detailC .ImgBox {
  width: 70%;
  height: 40vh;
  padding: 5px;
  margin: auto;
}
.detailC .ImgBox img {
  width: 100%;
  height: 100%;
}
.detailC .likeNCat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.detailC h4 {
  color: #0b0142;
}
.detailC th, .detailC td {
  padding: 3px 3px 3px 3px;
}
.detailC .yumm {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.detailC .yumm img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.detailC .para {
  width: 90%;
  margin: auto;
}
.detailC .NoBox {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailC .NoBox .NoDishChoosed {
  padding: 2%;
}

body {
  margin: 0;
  padding: 0;
}

.wGridBox {
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.wGridBox .grid {
  width: 95%;
  margin: auto;
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2% 2%;
}
.wGridBox .grid .grid-div {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: "center";
  text-align: "center";
}
.wGridBox .grid .grid-div div {
  padding: 2%;
}
.wGridBox .grid .grid-div div img {
  width: 100px;
  height: 100px;
  margin-left: auto;
}

/*# sourceMappingURL=index.css.map */
