.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }
}

.navbar a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#footer {
  width: 80%;
  background: #333;
  margin: auto;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
}
#footer .xob {
  width: 40px;
  height: 40px;
}

.load {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load .svgk {
  margin: auto;
}

.mainC {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listC {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid grey;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.listC .Lbox {
  width: 70%;
  margin: auto;
  padding: 2%;
  margin-top: 4%;
  margin-bottom: 4%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listC .Lbox .clicked {
  border: 2px solid red;
}
.listC .Lbox .ImgBox {
  width: 60%;
  margin: auto;
}
.listC .Lbox .ImgBox img {
  width: 100%;
  margin: auto;
}

.detailC {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detailC h2 {
  color: rgb(117, 5, 24);
}
.detailC .ImgBox {
  width: 70%;
  height: 40vh;
  padding: 5px;
  margin: auto;
}
.detailC .ImgBox img {
  width: 100%;
  height: 100%;
}
.detailC .likeNCat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.detailC h4 {
  color: #0b0142;
}
.detailC th, .detailC td {
  padding: 3px 3px 3px 3px;
}
.detailC .yumm {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
.detailC .yumm img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.detailC .para {
  width: 90%;
  margin: auto;
}
.detailC .NoBox {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailC .NoBox .NoDishChoosed {
  padding: 2%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.wGridBox {
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.wGridBox .grid {
  width: 95%;
  margin: auto;
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2% 2%;
}
.wGridBox .grid .grid-div {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: "center";
  text-align: "center";
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.wGridBox .grid .grid-div div .imgHolder {
  width: 100px;
  height: 100px;
  margin: auto;
}
.wGridBox .grid .grid-div .but {
  border: none;
  background: #333;
  color: white;
}

/*# sourceMappingURL=index.css.map */
