@import "./Components/Navbar/Navbar.scss";
@import "./Components/Footer/Footer.scss";
@import "./Components/MainComponent/MainComponent.scss";
@import "./Components/ListComponent/ListComponent.scss";
@import "./Components/DetailComponent/DetailComponent.scss";

body{
    margin: 0;
    padding: 0;
    text-align: center;
}
.wGridBox{
    width:100%;
    overflow-y: scroll;
    scroll-behavior: smooth;


    .grid{
        width:95%;
        margin:auto;
        display: grid;
        padding:5%;
        grid-template-columns: repeat(4,1fr);
        gap:2% 2%;
        .grid-div{
            width:90%;
            margin:auto;
            display:flex;
            flex-direction:column; 
            justify-content: center;
            align-items:"center";
            text-align:"center";
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            div{
                // padding: 2%;
                
                .imgHolder{
                    width:100px;
                    height: 100px;
                    margin: auto;
                 }    
               
            }
            .but{
                border:none;
                background: #333;
                color:white;

               }
        }
    }
}

